
$breakpoint-names: map-keys($breakpoints);
$gap-names: map-keys($gap-ratios);

@function generate-list($value) {
	$result: 0;
	@for $i from 1 through $value {
		$result: append($result, $i);
	}
	@return $result
}

$var-columns: generate-list($layout-columns) !default;

@function remove-nth($list, $index) {
  $result: null;

  @if type-of($index) != number {
    @warn "$index: #{quote($index)} is not a number for `remove-nth`.";
  } @else if $index == 0 {
    @warn "List index 0 must be a non-zero integer for `remove-nth`.";
  } @else if abs($index) > length($list) {
    @warn "List index is #{$index} but list is only #{length($list)} item long for `remove-nth`.";
  } @else {
    $result: ();
    $index: if($index < 0, length($list) + $index + 1, $index);

    @for $i from 1 through length($list) {
      @if $i != $index {
        $result: append($result, nth($list, $i));
      }
    }
  }

  @return $result;
}

$var-columns-top: remove-nth($var-columns, 1);
$var-columns-bottom: remove-nth($var-columns-top, length($var-columns-top));
