@use "sass:math";

.ok-guides {
  box-sizing: border-box;
  &-main {
    position: fixed;
    max-width: #{$layout-max-width + $layout-gutter}px;
    height: 100%;
    width: 100%;
    margin: auto;
    z-index: $layout-guides-zindex;
    left: 0;
    right: 0;
    top: 0;
    pointer-events: none;
    border-right: 1px solid $layout-color-guide-right-limit;
  }
  &-helper {
    padding: 0 calc($layout-gutter / 2)px;
    position: absolute;
    height: 100%;
    width: 100%;
    margin: auto;
  }
  &-lines {
    position: relative;
    height: 100%
  }
  &-child {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    border-left: 1px solid $layout-color-guide-left-limit;
  }
  &-line {
    box-sizing: border-box;
    position: absolute;
    display: block;
    height: 100%;
    width: 1px;
    top: 0;
    border-left: 1px dashed $layout-color-guide-column;
    @each $size in $var-columns{
      &-#{$size} { left: #{math.div((100% * $size), $layout-columns)}; }
    }
  }
  &-gutter {
    box-sizing: border-box;
    position: absolute;
    display: block;
    height: 100%;
    width: #{$layout-gutter}px;
    top: 0;
    background: $layout-color-guide-gutter;

    @each $size in $var-columns{
      &-#{$size} { left: calc(#{math.div((100% * $size), $layout-columns)} - #{math.div($layout-gutter, 2)}px); }
    }
  }
}
