@use "sass:math";

$layout-max-width: 1440 !default;
$layout-columns: 12 !default;
$layout-gap-base: 8 !default;
$layout-gutter: $layout-gap-base * 2 !default;
$layout-color-debug-container: rgb(57, 169, 219)  !default;
$layout-color-debug-row: rgb(163, 221, 122) !default;
$layout-color-debug-column: rgb(242, 103, 48) !default;
$layout-color-guide-right-limit: #ED0579 !default;
$layout-color-guide-left-limit: #01ABA3 !default;
$layout-color-guide-column: transparentize(#F06925, .2) !default;
$layout-color-guide-gutter: transparentize(#0071BD, .9) !default;
$layout-guides-zindex: 2147483647 !default;

$breakpoints: (
  "phone-small": 320,
  "phone-large": 375,
  "tablet-small": 425,
  "tablet-large": 768,
  "desktop-small": 1024,
  "desktop-large": 1440
) !default;

$gap-ratios: (
  "extra-small": #{math.div($layout-gap-base, 4)}px,
  "small": #{math.div($layout-gap-base, 2)}px,
  "medium": #{$layout-gap-base}px,
  "large": #{$layout-gap-base * 2}px,
  "extra-large": #{$layout-gap-base * 4}px,
) !default;
