@use "sass:math";
@import './variables';
@import './common';
@import './mixins';
@import './guides';

// layout styles

@mixin defaults-root-styles {
  box-sizing: border-box;
  display: flex;
  &.flex {
    flex: 1;
  }
}

.ok-layout {
  @include defaults-root-styles;
  @include generate-styles('');
  @each $breakpoint in $breakpoint-names{
    @media only screen and (min-width: #{map-get($breakpoints, $breakpoint)}px) {
      @include generate-styles(#{$breakpoint}#{"-"});
    }
  }
  &.grow {
    flex-grow: 1;
  }
  &.shrink {
    flex-shrink: 1;
  }
}
