@import './variables';

$color-container: #5d90b5;
$color-row: #f7941f;
$color-col: #ebcaa2;

@mixin basics {
  border: 3px solid black;
  border-radius: 5px;
  color: black;
  padding: calc(#{$layout-gutter}px / 2);
}

div.sample {
  @include basics;
  background: $color-container;
  box-shadow: inset 10px 10px 5px 10px darken($color-container, 10%);
  border-width: 1px 2px 1px 2px;
  border-radius:9% 4% 12% 5%/4% 5% 6% 5%;
  transform: rotate(1deg);
  margin-top: 24px;
  font-size: 16px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 700;
  .ok-layout {
    @include basics;
    &.row,
    &.phone-small-row,
    &.phone-large-row,
    &.tablet-small-row,
    &.tablet-large-row,
    &.desktop-small-row,
    &.desktop-large-row {
      background: $color-row;
      box-shadow: inset 10px 10px 5px 10px lighten($color-row, 10%);
      border-width: 1px;
      border-radius:4% 15% 6% 15%/9% 4% 2% 5%;
      transform: rotate(-1deg);
      &:empty {
        min-height: 1rem;
      }
    }
    &.col,
    &.phone-small,
    &.phone-large,
    &.tablet-small,
    &.tablet-large,
    &.desktop-small,
    &.desktop-large {
      background: $color-col;
      box-shadow: inset 5px 5px 5px 5px lighten($color-col, 10%);
      border-width: 1px;
      border-style: dotted;
      border-radius:15% 4% 7% 5%/4% 9% 3% 5%;
      transform: rotate(0deg);
      &:empty {
        min-height: 1rem;
      }
    }
    &.large {
      height: 8rem;
    }
    &.highlighted {
      border-style: solid;
    }
  }  
}
