<template>
  <component :is="is" v-if="visibility" class="ok-guides ok-guides-main">
    <div class="ok-guides-lines">
      <template v-for="line in Array.from(Array(13).keys())" :key="line">
        <div :class="['ok-guides-line', `ok-guides-line-${line}`]" />
        <div :class="['ok-guides-gutter', `ok-guides-gutter-${line}`]" />
      </template>
      <!-- <div>
        <div class="ok-guides-child" />
      </div> -->
    </div>
  </component>
</template>

<script setup>
import {ref, onMounted, onUnmounted, watchEffect} from 'vue'

const props = defineProps({
  is: {
    type: String,
    default: 'div',
  },
  assignedkey: {
    type: String,
    default: 'g',
  },
  visible: {
    type: Boolean,
    default: false,
  },
})

const visibility = ref()

watchEffect(() => {
  visibility.value = props.visible
})
const handleKeyDown = (event) => {
  if (event.key === props.assignedkey) {
    visibility.value = !visibility.value
  }
}
onMounted(() => {
  document.addEventListener('keydown', handleKeyDown)
});
onUnmounted(() => {
  document.removeEventListener('keydown', handleKeyDown);
})

</script>
